<router-outlet>
  <body>
    <div class="navbar">
      <a routerLink="home" class="nav-link">Home</a>
      <a routerLink="company" class="nav-link">Details</a>
      <a routerLink="training" class="nav-link">List</a>
      <a routerLink="details" class="nav-link">Cus-Details</a>
      <a routerLink="login" class="nav-link">Login</a>
      <a routerLink="register" class="nav-link">Register</a>
      <a routerLink="contact" class="nav-link">Contact</a>
    </div>
    </body>
  <router-outlet />